<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shg.examsys.mapper.QuestionTypeMapper">
	<!-- resultMap映射 -->
	<resultMap type="shg.examsys.entity.QuestionType" id="questionTypeRM">
		<!-- 主键 -->
		<id property="id" column="ID" jdbcType="BIGINT"/>
		<!-- 一般属性 -->
		<result property="typeName" column="TypeName"/>
	</resultMap>
	
	<!-- 查询一个数据 -->
	<select id="get" parameterType="string" resultMap="questionTypeRM">
		SELECT * FROM QUESTIONTYPE 
		WHERE id=#{id}
	</select>
	<!-- 查询 -->
	<select id="find" parameterType="map" resultMap="questionTypeRM">
		SELECT * FROM QUESTIONTYPE
		WHERE 1=1
		<if test="id !=null" > and ID=#{ID}</if>
		<if test="typeName !=null"> and TYPENAME=#{typeName}</if>
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="shg.examsys.entity.QuestionType">
		INSERT INTO QUESTIONTYPE
		(ID,TYPENAME)
		VALUES
		(	#{id,jdbcType=BIGINT},
			#{typeName,jdbcType=VARCHAR},
		)
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="shg.examsys.entity.QuestionType">
		UPDATE QUESTIONTYPE
		<set>
			<if test="typeName!=null">TYPENAME=#{typeName,jdbcType=VARCHAR},</if>
		</set>
		WHERE ID=#{id}
	
	</update>
	
	<!-- 删除一条 -->
	<delete id="deleteById" parameterType="string"> 
		DELETE FROM QUESTIONTYPE
		WHERE ID=#{id}
	
	</delete>
	<!-- 删除多条（一维字符串数组的形式） -->
	<delete id="delete" parameterType="string">
		DELETE FROM QUESTIONTYPE
		WHERE ID IN
		<foreach collection="array" item="ID" open="(" close=")" separator=",">
			#{id}
		</foreach>
	
	</delete>
	
</mapper>







